@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.spectral-extralight {
	font-family: 'Spectral', serif;
	font-weight: 200;
	font-style: normal;
}

.spectral-light {
	font-family: 'Spectral', serif;
	font-weight: 300;
	font-style: normal;
}

.spectral-regular {
	font-family: 'Spectral', serif;
	font-weight: 400;
	font-style: normal;
}

.spectral-medium {
	font-family: 'Spectral', serif;
	font-weight: 500;
	font-style: normal;
}

.spectral-semibold {
	font-family: 'Spectral', serif;
	font-weight: 600;
	font-style: normal;
}

.spectral-bold {
	font-family: 'Spectral', serif;
	font-weight: 700;
	font-style: normal;
}

.spectral-extrabold {
	font-family: 'Spectral', serif;
	font-weight: 800;
	font-style: normal;
}

.spectral-extralight-italic {
	font-family: 'Spectral', serif;
	font-weight: 200;
	font-style: italic;
}

.spectral-light-italic {
	font-family: 'Spectral', serif;
	font-weight: 300;
	font-style: italic;
}

.spectral-regular-italic {
	font-family: 'Spectral', serif;
	font-weight: 400;
	font-style: italic;
}

.spectral-medium-italic {
	font-family: 'Spectral', serif;
	font-weight: 500;
	font-style: italic;
}

.spectral-semibold-italic {
	font-family: 'Spectral', serif;
	font-weight: 600;
	font-style: italic;
}

.spectral-bold-italic {
	font-family: 'Spectral', serif;
	font-weight: 700;
	font-style: italic;
}

.spectral-extrabold-italic {
	font-family: 'Spectral', serif;
	font-weight: 800;
	font-style: italic;
}

/* Color palette
#052B0C
#556132
#283618
#fefae0
#dda15e
#bc6c25
#5e3209
*/

@layer base {
	html {
		margin-right: calc(100vw - 100%);
	}

	html::-webkit-scrollbar {
		width: 6px;
	}

	html::-webkit-scrollbar-track {
		background: linear-gradient(0deg, #cfffb3 0%, #3b7080 100%);
	}

	html::-webkit-scrollbar-thumb {
		background: transparent;
		box-shadow: 0px 0px 0px 100vh #e9e9e1;
		border-radius: 44px;
	}

	:root {
		font-size: 16px;
		font-family: 'Spectral', serif;
		font-weight: 300;
		font-style: normal;

		--color-primary: #052b0c;
		--color-secondary: #556132;
		--color-third: #283618;

		--color-text: #283618;
		--color-bg: #fefae0;

		--color-link: #5e3209;
		--color-link-hover: #bc6c25;

		--page-padding: 1rem;
		--columns: 15;
		--cursor-blend-mode: difference;
		--cursor-radius: 0;
	}

	html,
	body {
		background-color: var(--color-bg);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	h7,
	h8,
	h9,
	.is-abril {
		/* font-family: Abril Fatface; */
		font-family: 'Spectral', serif;
		font-weight: 600;
	}

	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}
}

/* Page Loader */
.loading::before,
.loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-primary);
}

.loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-bg);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
}

@layer components {
	.hero {
		@apply w-full relative overflow-hidden h-96 lg:w-1/2 lg:h-full lg:min-h-max;

		&:before {
			@apply h-full w-full bottom-0 absolute;
			content: '';
			background-image: url('/images/arboristaskfrun2.jpeg');
			background-repeat: no-repeat;
			background-size: cover;
		}

		@media screen and (min-width: 1024px) {
			&:before {
				background-image: url('/images/arboristaskfrun1.jpeg');
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				height: 100%;
			}
		}
	}

	a {
		color: var(--color-primary);
		@apply hover:underline hover:underline-offset-8;
	}

	.button {
		@apply px-4 py-3 md:px-6 bg-[var(--color-bg)] rounded-full hover:bg-[var(--color-link-hover)] hover:text-[var(--color-bg)] font-medium uppercase tracking-wide hover:no-underline flex gap-1.5 items-center;
	}
}
